# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# Database files (если не хотите публиковать базу аниме)
#anime_list.json

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db